services:
  - type: web
    name: multiplica-bank
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
      - key: GEMINI_API_KEY
        sync: false
